@import "tailwindcss";

:root {
  /* Base */
  --background:#1B273A;
  --blue: #0D1B2A;
  --gray: #9CA3AF;
  --lightBlue: #A7CDFF;
  --lighterBlue: #DAEAFF;
  --lightBlueTransparency: #6783A0;
}

body {
  font-family: 'Istok Web', sans-serif;
}



