@import "tailwindcss";

:root {
  /* Base */
  --background:#1B273A;
  --blue: #0D1B2A;
  --gray: #9CA3AF;
  --lightBlue: #A7CDFF;
  --lightBlueTransparency: rgba(177, 211, 255, 0.57);
}

body {
  font-family: 'Istok Web', sans-serif;
}



