---
import Layout from '../layouts/Layout.astro';
import SearchBar from '../components/molecules/SearchBar';
---

<Layout currentPage='search' />
<div class='w-full flex flex-col items-center'>
	<SearchBar client:load />
</div>
